<ion-content *ngIf="hasConfigSections" class="warm-top">
  <app-titlebar></app-titlebar>

  <div class="settings">
    <!-- General -->
    <h2 class="section-title">{{ 'settings.section-general' | translate }}</h2>
    <div class="card-group">
      <button type="button" class="setting-row" (click)="open('/settings/language')">
        <span class="icon"><ion-icon name="language-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'common.language-setting' | translate }}</span>
          <span class="sub">{{ 'settings.change-lang' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
      <button type="button" class="setting-row" (click)="open('/settings/startupscreen')">
        <span class="icon"><ion-icon name="rocket-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'settings.startupscreen-setting' | translate }}</span>
          <span class="sub">{{ 'settings.startupscreen-intro-setting' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
      <button type="button" class="setting-row" (click)="openWallet('/wallet/settings/currency-select')">
        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'wallet.select-currency-title' | translate }}</span>
          <span class="sub">{{ 'settings.currency-intro-setting' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
    </div>

    <!-- Security -->
    <h2 class="section-title">{{ 'settings.section-security' | translate }}</h2>
    <div class="card-group">
      <button type="button" class="setting-row" (click)="open('/settings/applock')">
        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'settings.applock-setting' | translate }}</span>
          <span class="sub">{{ 'settings.applock-setting-sub' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
      <button type="button" class="setting-row" (click)="open('/settings/privacy')">
        <span class="icon"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'settings.privacy-setting' | translate }}</span>
          <span class="sub">{{ 'settings.privacy-intro-setting' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
      <div class="setting-row toggle-row">
        <span class="icon"><ion-icon name="construct-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'settings.dev-mode' | translate }}</span>
          <span class="sub">{{ (prefs.developerMode ? 'settings.on' : 'settings.off') | translate }}</span></span>
        <ion-toggle mode="ios" [(ngModel)]="prefs.developerMode" (ngModelChange)="toggleDeveloperMode()"
          ngDefaultControl></ion-toggle>
      </div>
    </div>

    <!-- Networks -->
    <h2 class="section-title">{{ 'settings.section-networks' | translate }}</h2>
    <div class="card-group">
      <button type="button" class="setting-row" (click)="openWallet('/wallet/settings/manage-networks')">
        <span class="icon"><ion-icon name="git-network-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'wallet.manage-networks-title' | translate }}</span>
          <span class="sub">{{ 'settings.manage-networks-intro-setting' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
      <button type="button" class="setting-row" (click)="open('/settings/walletconnect/sessions')">
        <span class="icon"><ion-icon name="link-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'settings.wallet-connect-sessions-setting' | translate }}</span>
          <span class="sub">{{ 'settings.wallet-connect-sessions-intro-setting' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
    </div>

    <!-- Advanced -->
    <div *ngIf="prefs.developerMode">
      <h2 class="section-title">{{ 'settings.section-advanced' | translate }}</h2>
      <div class="card-group">
        <button type="button" class="setting-row" (click)="open('/settings/developer')">
          <span class="icon"><ion-icon name="terminal-outline"></ion-icon></span>
          <span class="text"><span class="title">{{ 'settings.developer-setting' | translate }}</span>
            <span class="sub">{{ 'settings.advanced-setting' | translate }}</span></span>
          <ion-icon class="chevron" name="chevron-forward"></ion-icon>
        </button>
      </div>
    </div>

    <!-- About -->
    <h2 class="section-title">{{ 'settings.section-about' | translate }}</h2>
    <div class="card-group">
      <button type="button" class="setting-row" (click)="open('/settings/about')">
        <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'settings.about-setting' | translate }}</span>
          <span class="sub">{{ 'settings.about-elastos' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
      <button type="button" class="setting-row sign-out" (click)="signOut()">
        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
        <span class="text"><span class="title">{{ 'common.sign-out' | translate }}</span></span>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
