<ion-content>
  <div class="network-sheet">
    <div class="sheet-header">
      <div class="titles">
        <h1>{{ 'wallet.networks' | translate }}</h1>
        <p>{{ 'wallet.choose-active-network' | translate }}</p>
      </div>
      <button type="button" class="settings" aria-label="Manage networks" (click)="manageNetworks()">
        <ion-icon name="settings-outline"></ion-icon>
      </button>
    </div>

    <div class="search-row">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" [(ngModel)]="searchInput" [placeholder]="'wallet.search-network' | translate"
        autocapitalize="off" autocomplete="off" spellcheck="false" />
    </div>

    <div class="network-list">
      <button type="button" *ngFor="let network of displayedNetworks" class="network-row ion-activatable"
        [class.selected]="currentNetwork && network.key === currentNetwork.key" (click)="selectNetwork(network)">
        <img class="logo" [src]="network.logo" alt="" />
        <span class="name">{{ network.getEffectiveName() }}</span>
        <span *ngIf="isMainChain(network)" class="tools-chip">{{ 'wallet.network-tools-chip' | translate }}</span>
        <ion-icon class="check" name="checkmark"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </button>

      <div *ngIf="displayedNetworks.length === 0" class="no-results">
        {{ 'wallet.network-no-results' | translate }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ebutton (clicked)="cancelOperation()" [title]="'common.cancel' | translate"> </ebutton>
</ion-footer>
