<ion-content>
  <app-titlebar></app-titlebar>
  <div class="settings-page">
    <div class="token-list">
      <div class="token-row" (click)="goToSettings('/identity/advanced-settings')">
        <div class="row-icon">
          <ion-icon name="options-outline"></ion-icon>
        </div>
        <div class="meta">
          <span class="title">{{ 'identity.advanced-settings' | translate }}</span>
        </div>
        <ion-icon class="chevron" name="chevron-forward"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
