<ion-content class="lightmode" [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-content ngxDetectHideOnScroll scrollEvents class="intersection-container">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="crescent">
            </ion-refresher-content>
        </ion-refresher>

        <!-- Can't use ngIf here, otherwise fetchmoretrigger will be invalid -->
        <ion-grid class="container">
            <ion-row *ngIf="networkWallet" class="main-title-row">
                <ion-col size="12">
                    <h1>{{ getSubwalletTitle() }}</h1>
                    <p>{{ 'wallet.coin-new-transactions-today' |
                        translate:{todaysTransactions: todaysTransactions} }}</p>
                </ion-col>
            </ion-row>
            <div *ngIf="networkWallet" class="balance-card">
                <img class="blurred-network-logo" [src]="networkWallet.network.logo" />
                <h3 class="balance-label">{{ 'wallet.coin-balance' | translate }}</h3>
                <ui-amount-display [size]="3" [value]="coinDisplayValue" [unit]="coinDisplayUnit"
                    [fiat]="coinDisplayFiat"></ui-amount-display>
                <div *ngIf="stakedBalance" class="staked-line">
                    <span class="staked-label">{{ getStakeTitle() | translate }}</span>
                    <span class="staked-value">{{ getStakedBalanceInNative() }} {{ networkWallet.getDisplayTokenName() }}</span>
                </div>
            </div>

            <!-- Transactions list header: a single tab collapses to a plain header -->
            <div class="tx-tabs">
                <ui-chip-row *ngIf="txTabs.length > 1" [chips]="txTabs" [active]="activeTxTab"
                    (activeChange)="onTxTabChange($event)"></ui-chip-row>
                <h1 *ngIf="txTabs.length <= 1" class="tx-header">{{ 'wallet.coin-transactions' | translate }}</h1>
            </div>

            <!-- List of transactions - offchain transactions -->
            <div *ngIf="transactionsLoaded && offlineTransactions.length > 0">
                <ion-row class="item-row ripple ion-activatable" *ngFor="let offlineTx of offlineTransactions"
                    (click)="onOfflineTransactionItem(offlineTx)">
                    <ion-col size="2" class="left-col">
                        <div class="icon-container orange">
                            <div class="inline-svg" inlineSVG="/assets/wallet/tx/transfer.svg"></div>
                        </div>
                    </ion-col>
                    <ion-col size="10" class="middle-col">
                        <h1>{{ getOfflineTransactionTitle(offlineTx) }}</h1>
                        <p>{{ getOfflineTransactionDate(offlineTx) }}</p>
                    </ion-col>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-row>
            </div>

            <!-- List of transactions - onchain transactions -->
            <div *ngIf="transactionsLoaded && transferList.length > 0">
                <ion-row class="item-row ripple ion-activatable" *ngFor="let item of transferList"
                    (click)="onItem(item)">
                    <ion-col size="2" class="left-col">
                        <div class="icon-container" [class.green]="(item.type === 1) && !item.isRedPacket"
                            [class.redpacket]="(item.type === 1) && item.isRedPacket" [class.purple]="(item.type === 2)"
                            [class.orange]="item.type === 3">
                            <div class="inline-svg" [inlineSVG]="getPayStatusIcon(item)"></div>
                        </div>
                    </ion-col>
                    <ion-col [size]="item.amount.isZero() ? 7 : 5" class="middle-col">
                        <h1>{{ getTransactionTitle(item) }}</h1>

                        <!-- TMP TEST -->
                        <h1 *ngFor="let event of getContractEvents(item)">* {{ event.description }}</h1>

                        <p class="memo" *ngIf="item.memo">{{ item.memo }}</p>
                        <p>{{ item.datetime }}</p>
                    </ion-col>
                    <ion-col [size]="item.amount.isZero() ? 3 : 5" class="right-col">
                        <h1>{{ item.symbol }}{{ uiService.getFixedBalance(item.amount) }}</h1>
                        <p *ngIf="subWallet.getAmountInExternalCurrency(item.amount)">
                            {{ item.symbol }}{{ subWallet.getAmountInExternalCurrency(item.amount) }}
                            {{ currencyService.selectedCurrency.symbol }}
                        </p>
                    </ion-col>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-row>
            </div>

            <!-- Empty transactions list -->
            <div class="empty-list" *ngIf="transactionsLoaded && transferList.length === 0">
                <img
                    [src]="theme.darkMode ? 'assets/wallet/icons/white-warning.svg' : 'assets/wallet/icons/black-warning.svg'" />
                <h1>{{ 'wallet.coin-no-transactions' | translate }}</h1>
            </div>

            <!-- Used to detect when user reaches the screen bottom to load more transactions -->
            <div #fetchmoretrigger></div>
            <ion-row class="list-title-row" *ngIf="canFetchMore && shouldShowLoadingSpinner">
                <ion-col class="spinner-col" size="12">
                    <ion-spinner id="fetching-more-spinner" name="dots"></ion-spinner>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

    <div class="footer" ngxHideOnScroll *ngIf="subWallet">
        <img class="action-toggle" (click)="toggleShowAllActions()" *ngIf="shouldShowAllActionsToggle()"
            [src]="getActionToggleIcon()">
        <ion-row class="card-btn-row">
            <ion-col [size]="transfersColumnSize()" *ngIf="coinCanBeTransferred()">
                <ebutton class="btn-box" (clicked)="transferFunds()" topicon="assets/wallet/buttons/curcol-transfer.svg"
                    [title]="(chainIsELA() ? 'wallet.coin-action-recharge' : 'wallet.coin-action-withdraw') | translate">
                </ebutton>
            </ion-col>
            <ion-col [size]="transfersColumnSize()" *ngIf="coinCanBeSent()">
                <ebutton class="btn-box" [uppercase]="true" (clicked)="sendFunds()"
                    topicon="assets/wallet/buttons/curcol-send.svg" [title]="'wallet.coin-action-send' | translate">
                </ebutton>
            </ion-col>
            <ion-col [size]="transfersColumnSize()">
                <ebutton class="btn-box" [uppercase]="true" (clicked)="receiveFunds()"
                    topicon="assets/wallet/buttons/curcol-receive.svg"
                    [title]="'wallet.coin-action-receive' | translate"></ebutton>
            </ion-col>
        </ion-row>
        <ion-row class="card-btn-row" *ngIf="shouldShowAllActions && canEarnSwapOrBridge()">
            <ion-col [size]="swapsColumnSize()" *ngIf="canEarn()">
                <ebutton class="btn-box" [uppercase]="true" (clicked)="earn(subWallet)"
                    topicon="assets/wallet/buttons/curcol-earn.svg" [title]="'wallet.earn' | translate">
                </ebutton>
            </ion-col>
            <ion-col [size]="swapsColumnSize()" *ngIf="canStakeELA()">
                <ebutton class="btn-box" [uppercase]="true" (clicked)="goStakeApp()"
                    topicon='assets/launcher/apps/app-icons/staking.svg' [title]="'staking.stake' | translate">
                </ebutton>
            </ion-col>
            <ion-col [size]="swapsColumnSize()" *ngIf="canStakeTRX()">
                <ebutton class="btn-box" [uppercase]="true" (clicked)="goTronResource()"
                    topicon='assets/launcher/apps/app-icons/staking.svg' [title]="'wallet.resource' | translate">
                </ebutton>
            </ion-col>
            <!-- <ion-col size="4" *ngIf="canBridge()">
                <ebutton class="btn-box" [uppercase]="true" (clicked)="bridge(subWallet)"
                    topicon="assets/wallet/buttons/curcol-bridge.svg" [title]="'wallet.bridge' | translate">
                </ebutton>
            </ion-col> -->
        </ion-row>
    </div>
</ion-content>