<ion-content>
  <app-titlebar></app-titlebar>

  <div *ngIf="preliminaryChecksCompleted" class="appid-request">
    <!-- App / origin header: the requesting app's icon + name -->
    <div class="app-header">
      <div class="app-disc">
        <ion-img [src]="getAppIcon()"></ion-img>
      </div>
      <p class="app-name">{{publishedAppInfo.name}}</p>
    </div>

    <!-- Request detail: what the app is asking for -->
    <div class="request-card">
      <div class="request-icon">
        <ion-icon name="finger-print-outline"></ion-icon>
      </div>
      <p class="request-msg">{{ 'identity.appidcredissue-intro' | translate }}</p>
    </div>

    <!-- <ion-row class="data-container">
      <div class="data-header" (click)="showAppInstanceDid = !showAppInstanceDid">
        <p>{{ 'identity.app-instancedid' | translate }}</p>
        <img *ngIf="!showAppInstanceDid" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showAppInstanceDid" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showAppInstanceDid">
        {{ displayableCredential.appinstancedid.slice(0,25) }} <br>
        {{ displayableCredential.appinstancedid.slice(25,50) }}
      </h5>
    </ion-row>

    <ion-row class="data-container">
      <div class="data-header" (click)="showAppDID = !showAppDID">
        <p>{{ 'identity.app-did' | translate }}</p>
        <img *ngIf="!showAppDID" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showAppDID" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showAppDID">
        {{ displayableCredential.appdid.slice(0,25) }} <br>
        {{ displayableCredential.appdid.slice(25,50) }}
      </h5>
    </ion-row>

    <ion-row class="data-container">
      <div class="data-header" (click)="showExpiration = !showExpiration">
        <p>{{ 'identity.expire' | translate }}</p>
        <img *ngIf="!showExpiration" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showExpiration" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showExpiration">{{ displayableCredential.expirationDate.toLocaleString() }}</h5>
    </ion-row> -->
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="btn-container" *ngIf="triedToFetchAppIcon">
      <ebutton (clicked)="acceptRequest()" [title]="'identity.accept' | translate"> </ebutton>
    </ion-row>
    <ion-spinner *ngIf="!triedToFetchAppIcon"></ion-spinner>
  </ion-grid>
</ion-footer>
