<ion-content>
  <app-titlebar></app-titlebar>
  <div class="advanced-settings">
    <div class="content-top">
      <div class="hero">
        <div class="glyph">
          <ion-icon name="refresh-outline"></ion-icon>
        </div>
        <h1 class="heading">{{ 'identity.sync-did-profile' | translate }}</h1>
        <p class="subtitle">{{ 'identity.sync-did-profile-desc' | translate }}</p>
      </div>
    </div>
    <div class="footer">
      <ebutton [arrow]="false" (clicked)="startSync()" [title]="'identity.sync-identity-now' | translate"></ebutton>
    </div>
  </div>
</ion-content>
