<ion-content>
  <app-titlebar></app-titlebar>

  <!-- Wrong target DID notice -->
  <div *ngIf="wrongTargetDID" class="page wrong-target">
    <div class="notice-card">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>{{ 'identity.credimport-wrong-did' | translate }}</p>
    </div>
  </div>

  <div *ngIf="preliminaryChecksCompleted && !wrongTargetDID" class="page">
    <!-- APP / ORIGIN HEADER -->
    <div class="req-header" *ngIf="receivedIntent">
      <div class="app-disc">
        <img [src]="getDappIcon()">
      </div>
      <p class="req-intro">{{ 'identity.credimport-intro' | translate }}</p>
    </div>

    <!-- REQUEST NOTE -->
    <div class="note-card">
      <p class="note-strong">{{ 'identity.credimport-note' | translate }}</p>
      <p class="note-body">{{ 'identity.credimport-intro2' | translate }}</p>
    </div>

    <!-- REQUESTED CREDENTIAL -->
    <div class="cred-block">
      <credential [credential]="displayableCredential.credential.pluginVerifiableCredential" class="credential">
      </credential>

      <!-- Advanced mode: view credential details -->
      <div class="advanced-toggle" (click)="displayableCredential.showData = !displayableCredential.showData"
        *ngIf="!displayableCredential.showData">
        {{ 'identity.credimport-show-details' | translate }}
      </div>
      <div class="advanced-toggle" (click)="displayableCredential.showData = !displayableCredential.showData"
        *ngIf="displayableCredential.showData">
        {{ 'identity.credimport-hide-details' | translate }}
      </div>

      <div *ngIf="displayableCredential.showData" class="data-list">
        <div class="data-card" *ngFor="let entry of displayableCredential.values">
          <div class="data-header" (click)="entry.showData = !entry.showData">
            <p>{{ didService.getUserFriendlyBasicProfileKeyName(entry.name)}}</p>
            <ion-icon [name]="entry.showData ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
          </div>
          <div *ngIf="entry.showData" class="data-value">
            <h5>{{ getDisplayableEntryValue(entry.value) }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="!wrongTargetDID" [class.blur]="popup">
  <ebutton (clicked)="!accepting && !popup ? acceptRequest() : rejectRequest()" [spinning]="accepting"
    [title]="'identity.accept-and-publish' | translate"></ebutton>
</ion-footer>

<ion-footer *ngIf="wrongTargetDID">
  <ebutton (clicked)="rejectRequest()" [spinning]="accepting" [title]="'common.close' | translate"></ebutton>
</ion-footer>
