<!-- Skeleton state -->
<div *ngIf="skeleton" class="row skeleton" aria-hidden="true">
  <div class="icon-circle">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
  <div class="text">
    <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
  </div>
  <div class="values">
    <ion-skeleton-text animated style="width: 60px"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
  </div>
</div>

<!-- Content state -->
<div *ngIf="!skeleton" class="row" [class.ion-activatable]="interactive"
  [class.interactive]="interactive" [attr.role]="interactive ? 'button' : null"
  [attr.aria-label]="interactive && title ? title : null" (click)="interactive && onPressed()">
  <div class="icon-circle" [class.tone-neutral]="iconTone === 'neutral'">
    <img *ngIf="icon && !isInlineSvg(icon)" [src]="icon" alt="" />
    <div *ngIf="icon && isInlineSvg(icon)" class="inline-icon" [class.up]="iconGlyphTone === 'up'"
      [class.down]="iconGlyphTone === 'down'" [inlineSVG]="icon"></div>
    <div *ngIf="badge" class="badge">
      <img *ngIf="!isInlineSvg(badge)" [src]="badge" alt="" />
      <div *ngIf="isInlineSvg(badge)" class="inline-icon" [inlineSVG]="badge"></div>
    </div>
  </div>

  <div class="text">
    <div class="title">{{ title }}</div>
    <div *ngIf="sub" class="sub">{{ sub }}</div>
  </div>

  <ion-icon *ngIf="chevron && !value && !subValue && !subValue2" class="chevron" name="chevron-forward"
    aria-hidden="true"></ion-icon>

  <div *ngIf="value || subValue || subValue2" class="values">
    <div *ngIf="value" class="value tabular" [class.up]="valueTone === 'up'"
      [class.down]="valueTone === 'down'">{{ value }}</div>
    <div *ngIf="subValue" class="sub-value tabular" [class.up]="subValueTone === 'up'"
      [class.down]="subValueTone === 'down'">{{ subValue }}</div>
    <div *ngIf="subValue2" class="sub-value tabular" [class.up]="subValue2Tone === 'up'"
      [class.down]="subValue2Tone === 'down'">{{ subValue2 }}</div>
  </div>

  <ion-ripple-effect *ngIf="interactive"></ion-ripple-effect>
</div>
