<ion-content>
  <app-titlebar></app-titlebar>

  <div class="picker">
    <div *ngFor="let masterWallet of walletManager.getMasterWalletsList()" class="wallet-group">
      <h2 class="group-title">{{ masterWallet.name }}</h2>
      <div class="card-group">
        <ui-token-row [icon]="masterWallet.getSubWallet(subWalletId).getMainIcon()"
          [badge]="masterWallet.getSubWallet(subWalletId).getSecondaryIcon()"
          [title]="uiService.getSubwalletTitle(masterWallet.getSubWallet(subWalletId))"
          [sub]="uiService.getSubwalletSubtitle(masterWallet.getSubWallet(subWalletId))"
          [value]="uiService.getFixedBalance(masterWallet.getSubWallet(subWalletId).getDisplayBalance())"
          (pressed)="walletSelected(masterWallet)"></ui-token-row>
      </div>
    </div>
  </div>

  <div class="sheet-footer">
    <ebutton class="btn cancel" mode="cancel" (clicked)="cancelOperation()"
      [title]="'common.cancel' | translate"></ebutton>
  </div>
</ion-content>
