<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="receivedIntent" class="sethiveprovider">

        <!-- App / origin header: requesting app icon + name + intro line -->
        <div class="request-header">
            <div class="app-disc">
                <img src="/assets/launcher/icons/hive-cross.svg">
            </div>
            <requesting-app [caller]="receivedIntent.params.caller"></requesting-app>
            <p class="request-intro">{{ 'identity.sethiveprovider-intro' | translate }}</p>
        </div>

        <!-- Requested detail: the hive provider being set -->
        <div class="detail-card" *ngIf="receivedIntent.params.name">
            <p class="detail-label">{{ 'identity.sethiveprovider-name' | translate }}</p>
            <p class="detail-value">{{ receivedIntent.params.name }}</p>
        </div>

        <div class="detail-card">
            <p class="detail-label">{{ 'identity.sethiveprovider-address' | translate }}</p>
            <p class="detail-value">{{ receivedIntent.params.address }}</p>
        </div>

        <!-- Action -->
        <div class="btn-container">
            <ebutton (clicked)="acceptRequest()" [title]="'identity.accept-and-publish' | translate"> </ebutton>
        </div>

    </div>
</ion-content>
