<ion-content>
  <app-titlebar></app-titlebar>
  <div class="container" [class.blur]="popup">
    <!-- APP / ORIGIN HEADER -->
    <div *ngIf="receivedIntent" class="app-header">
      <div class="app-icon">
        <img [src]="getDappIcon()">
      </div>
      <p class="request-label">{{ 'identity.profile-request' | translate }}</p>
      <h1 class="app-name">{{ getDappName() }}</h1>
      <p class="intro">{{ getIntro() }}</p>
    </div>

    <!-- MANDATORY ITEMS -->
    <div *ngIf="mandatoryItems.length" class="section">
      <p class="section-title">{{ 'identity.mandatory-data-access' | translate }}</p>
      <div class="card">
        <div *ngFor="let item of mandatoryItems" class="cred-row">
          <div class="cred-icon">
            <ion-icon *ngIf="item.name !== 'avatar' || !avatarDataUrl" [src]="getCredIcon(item)"></ion-icon>
            <img *ngIf="item.name === 'avatar' && avatarDataUrl" [src]="getCredIcon(item)" class="avatar">
          </div>
          <div class="cred-item-div">
            <h1>{{ didService.getUserFriendlyBasicProfileKeyName(item.name) | translate }}</h1>
            <p>{{ getItemValueDisplay(item) | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- OPTIONAL ITEMS -->
    <div *ngIf="optionalItems.length" class="section">
      <p class="section-title">{{ 'identity.optional-data-access' | translate }}</p>
      <div class="card">
        <div *ngFor="let item of optionalItems" class="cred-row">
          <div class="cred-icon">
            <ion-icon *ngIf="item.name !== 'avatar' || !avatarDataUrl" [src]="getCredIcon(item)"></ion-icon>
            <img *ngIf="item.name === 'avatar' && avatarDataUrl" [src]="getCredIcon(item)" class="avatar">
          </div>
          <div class="cred-item-div">
            <h1>{{ didService.getUserFriendlyBasicProfileKeyName(item.name) }}</h1>
            <p>{{ getItemValueDisplay(item) }}</p>
          </div>
          <div class="cred-action">
            <div *ngIf="item.canBeDelivered" (click)="item.selected = !item.selected" class="checkbox"
              [class.checked]="item.selected">
              <ion-icon *ngIf="item.selected" name="checkmark"></ion-icon>
            </div>
            <ion-icon *ngIf="!item.canBeDelivered" class="cross-icon" name="close"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer [class.blur]="popup">
  <ebutton [title]="getButtonTitle()" [spinning]="showSpinner || !publishStatusFetched"
    (clicked)="canDeliver && !showSpinner && !popup ? acceptRequest() : rejectRequest()"></ebutton>
</ion-footer>
