<ion-content>
  <app-titlebar></app-titlebar>

  <div *ngIf="!preliminaryChecksCompleted" class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="preliminaryChecksCompleted" class="creddelete">
    <div class="content-top">
      <!-- App / origin header -->
      <div class="app-header" *ngIf="receivedIntent">
        <requesting-app [caller]="receivedIntent.params.caller"></requesting-app>
        <p class="intro">{{ 'identity.creddelete-intro' | translate }}</p>
      </div>

      <!-- Publish-change warning -->
      <div class="warn-card" *ngIf="forceToPublishCredentials">
        <div class="icon-circle warn">
          <ion-icon name="warning-outline"></ion-icon>
        </div>
        <p>{{ 'identity.creddelete-publish-warning' | translate }}</p>
      </div>

      <!-- Credentials to delete -->
      <div class="cred-list">
        <ng-container *ngFor="let credential of displayableCredentials">
          <div class="cred-card" *ngFor="let entry of credential.values">
            <div class="cred-header" (click)="entry.showData = !entry.showData">
              <p class="cred-name">{{ didService.getUserFriendlyBasicProfileKeyName(entry.name) }}</p>
              <ion-icon class="chevron" [class.open]="entry.showData" name="chevron-down"></ion-icon>
            </div>
            <div class="cred-value" *ngIf="entry.showData">
              <p>{{ getDisplayableEntryValue(entry.value) }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="preliminaryChecksCompleted" [class.blur]="popup">
  <ebutton mode="danger" [spinning]="accepting" [disabled]="popup"
    [title]="(forceToPublishCredentials ? 'identity.delete-and-publish' : 'identity.confirm') | translate"
    (clicked)="acceptRequest()"></ebutton>
</ion-footer>
